@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?5d2283addeb7504b2cfb4dea73579a96") format("truetype"),
url("./flaticon.woff?5d2283addeb7504b2cfb4dea73579a96") format("woff"),
url("./flaticon.woff2?5d2283addeb7504b2cfb4dea73579a96") format("woff2"),
url("./flaticon.eot?5d2283addeb7504b2cfb4dea73579a96#iefix") format("embedded-opentype"),
url("./flaticon.svg?5d2283addeb7504b2cfb4dea73579a96#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-biscuit:before {
  content: "\f101";
}
.flaticon-bread-1:before {
  content: "\f102";
}
.flaticon-bread-2:before {
  content: "\f103";
}
.flaticon-bread:before {
  content: "\f104";
}
.flaticon-cake-1:before {
  content: "\f105";
}
.flaticon-cake:before {
  content: "\f106";
}
.flaticon-cookies:before {
  content: "\f107";
}
.flaticon-croissant-1:before {
  content: "\f108";
}
.flaticon-croissant-2:before {
  content: "\f109";
}
.flaticon-croissant:before {
  content: "\f10a";
}
.flaticon-cupcake:before {
  content: "\f10b";
}
.flaticon-donut:before {
  content: "\f10c";
}
.flaticon-toast:before {
  content: "\f10d";
}
